# Environment files
.env
**/.env

# Node.js
node_modules/
**/node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Python
__pycache__/
*.py[cod]
venv/
**/venv/

# VS Code
.vscode/

# macOS system file
.DS_Store
